@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
	

}

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header {
    font-family: "Gabriola.ttf";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
	border-bottom: 2px solid #198506
}

.sec_head{
	position:absolute;
	margin-left:500px;
	margin-top:100px;
	
}

.sec_head1{
	position:absolute;
	margin-left:450px;
	margin-top:100px;
	
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}


.btn-primary {
    color: #198506;
    background-color: transparent;
    border: none;
    border-radius: .3em;
    font-weight: bold;
	font-size:12px;
	border: 1px solid #198506;
	transition: 0.3s;
}

.btn-primary:hover {
    background-color: #198506;
	color:white;
	border: 1px solid #198506
}

.btn_added{
    background-color: #198506;
	color:white;
	border: 1px solid #198506
}


.shop-item {
    margin: 20px;
    margin-right: 20px;
	background-color:white;
	padding-left:5px;
	padding-right:5px;
	box-shadow: 5px 10px 8px rgba(0,0,0, 0.2);
	
}

.shop-item img{
	transition: transform .5s ease;

}


.shop-item:hover img{
	transform: scale(1.2);

}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    color: #333;
    margin-bottom: 15px;
	border-bottom: 1px solid #198506;

}


.shop-item-image {
    height: 190px;
    width: 190px;
	object-fit: cover;
	margin-bottom:20px;
	overflow: hidden;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
	margin-top:150px;
	margin-left:70px;
	margin-bottom:10px;
	width:1000px;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
	margin-top:100px;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.btn-proceed {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.cart_section{
	padding-left:100px;
	padding-right:100px;
	
}

.cart_full{
	padding-top:100px;
}



