/*/////////////////////////////////////////////////////////////////SECTION 1/////////////////////////////////////////////////////////*/

.headerName{
	margin-top: 10px;
	padding-top: 150px;
	padding-left: 550px;
}

.headerName h1{
	font-size: 110px;
	margin-top:-14px;
	color: white;
	text-shadow: 2px 2px 3px rgba(0, 1, 0, 0.7);
	font-family: "Lobster", serif;
}

.headerName h2{
	color: white;
	font-size: 60px;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
	font-family: "Gabriola";
	margin-top:50px;
}

.headerName a {
	position: absolute;
	margin-top:210px;
	cursor:pointer;
	z-index: 2;
	margin-left:-150px;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: #fff;
	font : normal 400 20px/1 'Josefin Sans', sans-serif;
	letter-spacing: .1em;
	text-decoration: none;
	transition: opacity .3s;
}
.headerName a:hover {
  opacity: .5;
  text-decoration: none;
  color: #fff;
}

#headerName a {
  margin-top:130px;
  margin-left:100px;
}
#headerName a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid white;
  border-radius: 50px;
  box-sizing: border-box;
}
#headerName a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: white;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}


	/*BACK TO TOP BTN*/
#button_top {
	display: inline-block;
	background-color: #91bfcf;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 4px;
	position: fixed;
	text-decoration: none;
	bottom: 20px;
	right: 20px;
	transition: background-color .3s, opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
  }
#button_top::after {
	content: "\f077";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	line-height: 50px;
	color: #fff;
}
#button_top:hover {
	cursor: pointer;
	background-color: #91bfcf;

}
#button_top:active {
	background-color: #555;
}
#button_top.show {
	opacity: 1;
	visibility: visible;
}

/*/////////////////////////////////////////////////////////////////SECTION 2/////////////////////////////////////////////////////////*/
.intro_Box{
	margin-top: -525px;
    margin-left: 50px;
	background-color:#E8E8ED;
	width:840px;
	height:565px;
	position: absolute;
	padding-left: 30px;
}

.intro_Box h1{
	padding-top: 10px;
	font-size: 35px;
	color: #0E0F11;
	width:830px;
	font-family: "Segoe UI Light";
}

.intro_Box p{
	font-size:16px;
	color: black;
	margin-top:10px;
	padding-top:10px;
	padding-right: 30px;
	font-family: "Courier New";
}

.littleBox{
	width:400px;
	height:550px;
	background-color:transparent;
}

.sec2_img img{
	height:90%;
	position: absolute;
	float:right;
	margin-top:-525px;
	margin-left:920px;
	object-fit: cover;
}

/*/////////////////////////////////////////////////////////////////SECTION 2.5/////////////////////////////////////////////////////////*/
.introBox{
	background-color: transparent;
	position: absolute;
	width: 400px;
	height:450px;
	margin-left: 40px;
	margin-top:160px;
	text-align: center;
	color:white;
}

.introBox p{
	font-family:"Segoe UI Light";
	padding-left:30px;
	padding-right:30px;
	padding-top: 20px;
	font-size:17px;
}


.box4{
	margin-left: 470px;
	background-color: #333;
}
.box2{
	margin-left: 50px;
	background-color: #333;
}

.box3{
	margin-left: 890px;
	background-color: #333;
}

.introBox i{
	font-size: 40px;
	margin-top:30px;	
}

.introBox h1{
	font-size: 40px;
	font-family: 'Gabriola';
	text-align: center;
}

/*/////////////////////////////////////////////////////////////////SECTION 3/////////////////////////////////////////////////////////*/
.verse {
	margin-top:800px;
	margin-left: 300px;
	width:1000px;
	position: absolute;
}

.verse h1{
	font-size:30px;
	font-family: 'Gabriola';
}
.verse h2{
	font-size:20px;
	padding-left: 300px;
	font-family: 'Courier New', Courier, monospace;
}


/*/////////////////////////////////////////////////////////////////SECTION 4/////////////////////////////////////////////////////////*/
.title{
	margin-top: 100px;
	margin-left: 550px;
	background: transparent;
}
.title hr{
	display: block;
	height: 1px;
	width: 300px;
	border: 0;
	border-top: 1px solid #333;
	padding: 0;
	margin-top:75px;
	margin-left: -350px;
	position: absolute;
	
}

.title h4{
	display: block;
	height: 1px;
	width: 300px;
	border: 0;
	border-top: 1px solid #333;
	padding: 0;
	margin-top:-75px;
	margin-left: 285px;
	position: absolute;
	
}

.title h1 {
	padding-top: 30px;
	font-size: 100px;
	font-family: 'Gabriola';
}

.title h3{
	margin-top: -20px;
	margin-left: 25px;
	font-size: 20px;
	font-family: 'Courier New';
}

/*----------FAM MEMBERS---------*/
.fam1_pic{
	margin-top:650px;
	margin-left: -800px;
}
.fam1_pic img, .fam2_pic img, .fam3_pic img, .fam4_pic img{
	height:350px;
	width:450px;
	position: absolute;
	float:right;
	
	object-fit: cover;
	position: absolute;
	box-shadow: 5px 10px 8px rgba(0,0,0, 0.3);
}



.fam1, .fam2, .fam3, .fam4{
	background-color: #E8E8ED;
	width:730px;
	height: 350px;
	
}

.fam1 h1, .fam2 h1, .fam3 h1, .fam4 h1{
	padding-top:30px;
	padding-left: 30px;
	font-family: 'Gabriola';
}

.fam1 h3, .fam2 h3, .fam3 h3, .fam4 h3{
	font-size:20px;
	margin-top:-10px;
	padding-left: 30px;
	font-family: 'Segoe UI Light';
}

.fam1 p, .fam3 p, .fam4 p{
	font-size: 17px;
	margin-top:30px;
	padding-left:30px;
	padding-right:30px;
	font-family: 'Courier New';
	height:120px;
}
.fam2 p{
	font-size: 17px;
	margin-top:15px;
	padding-left:30px;
	margin-bottom:30px;
	padding-right:30px;
	font-family: 'Courier New';
	height:120px;
}

.fam_btn{
	background-color: #91bfcf;
	border: 2px solid #91bfcf;
	color: #fff;
	text-align: center;
	font-size: 15px;
	padding: 8px;
	width: 160px;
	transition: all 0.5s;
	cursor: pointer;
	z-index:2;
	position:absolute;
	margin-top:30px;
	margin-left:30px;
}

.fam_btn:hover{
	background-color: transparent;
	border: 2px solid #91bfcf;
	color:#91bfcf;
	cursor: pointer;
	transition:0.1s;
}


.fam1_pic img{
	margin-top:-580px;
	margin-left:870px;
}

.fam2_pic img{
	margin-top:40px;
	margin-left:830px;
}

.fam3_pic img{
	margin-top:40px;
	margin-left:70px;
}

.fam4_pic img{
	margin-top:40px;
	margin-left:830px;
}

.fam1{
	margin-left: 550px;
	margin-top: -580px;
}	

.fam2{
	margin-top:40px;
	margin-left:70px;
}

.fam3{
	margin-top:40px;
	margin-left:550px;
	
}

.fam4{
	margin-top:40px;
	margin-left:70px;
}

/*/////////////////////////////////////////////////////////////////SECTION 5/////////////////////////////////////////////////////////*/

/*********************PIC SLIDER ****************SEC 1*/
.car_1, .slide1, .carousel-inner .active{
	height:100%;
	background-attachment: fixed;
	}
	.inner1 {
	height:100%;
	
	}
	.car_1 {
	margin-bottom: 60px;
	}
	.carousel-item {
	  display: block;
	  position: absolute;
	  opacity: 0;
	  transition: opacity .75s ease-in-out;
	}
	.carousel-item.active {
	  opacity: 1;
	}
	.car_1 .slide1 {
	background-color: #777;
	}
	.car_1 .carousel-inner .bg {
	background-repeat:no-repeat;
	background-size:cover;
	}
	.car_1 .carousel-inner .bg1 {
		
	background-image: linear-gradient(transparent, transparent,  rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url(../img/fam1.jpg);
	background-position: center top;
	filter:brightness(100%);
	}
	
	.car_1 .carousel-inner .bg2 {
	background-image: linear-gradient(transparent, transparent,  rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),url(../img/fam4.jpg);
	background-position: center center;
	filter:brightness(100%);
	}
	.car_1 .carousel-inner .bg3 {
	background-image: linear-gradient(transparent, transparent,  rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),url(../img/fam2.jpg);
	background-position: center bottom;
	filter:brightness(100%);
	}
	
	.car_1 .carousel-inner .bg4 {
	background-image: linear-gradient(transparent, transparent,  rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),url(../img/fam5.jpg);
	background-position: center bottom;
	filter:brightness(100%);
	}

	.car_1 .carousel-inner .bg5 {
		background-image: linear-gradient(transparent, transparent,  rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),url(../img/fam3.jpg);
		background-position: center bottom;
		filter:brightness(100%);
		}
	
	.car_1 .carousel-inner .bg6 {
		background-image: linear-gradient(transparent, transparent,  rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),url(../img/fam6.jpg);
		background-position: center bottom;
		filter:brightness(100%);
	}

	.car_1 .carousel-inner .bg7 {
		background-image: linear-gradient(transparent, transparent,  rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),url(../img/fam10.jpg);
		background-position: center bottom;
		filter:brightness(100%);

	}.car_1 .carousel-inner .bg8 {
		background-image: linear-gradient(transparent, transparent,  rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),url(../img/fam7.jpg);
		background-position: center bottom;
		filter:brightness(100%);

	}.car_1 .carousel-inner .bg9 {
		background-image: linear-gradient(transparent, transparent,  rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),url(https://imgur.com/r78guqk.jpg);
		background-position: center bottom;
		filter:brightness(100%);

	}.car_1 .carousel-inner .bg10 {
		background-image: linear-gradient(transparent, transparent,  rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),url(../img/fam9.jpg);
		background-position: center bottom;
		filter:brightness(100%);
	}

.carousel-caption {
	z-index: 10;
	}

.carousel-caption h1{
	font-family: 'Gabriola';
	font-size: 100px;
	text-shadow: 2px 2px 3px rgba(0, 1, 0, 0.7);
}

.carousel-caption p{
	font-family: 'Courier New';
	font-size: 30px;
	margin: -30px;
}

/*/////////////////////////////////////////////////////////////////SECTION 6/////////////////////////////////////////////////////////*/

.sec6_header{
	margin-top: 0px;
	padding-top:140px;
	margin-left: 210px;
	text-align: center;	
	width: 950px;
}

.sec6_header h1{
	font-size: 90px;
	margin-top:-14px;
	color: #333;
	font-family: "Gabriola";
	
}

.sec6_header h2{
	color: #333;
	font-size: 20px;
	font-family: "Courier New";
	margin-top:20px;
}

.sec6_img1 img{
	height:90%;
	position: absolute;
	float:right;
	margin-top:100px;
	margin-left:60px;
	object-fit: cover;
}

.sec6_img2 img{
	height:90%;
	position: absolute;
	float:right;
	margin-top:170px;
	margin-left:490px;
	object-fit: cover;
}

.sec6_img3 img{
	height:90%;
	position: absolute;
	float:right;
	margin-top:100px;
	margin-left:920px;
	object-fit: cover;
}

/*/////////////////////////////////////////////////////////////////SECTION 7/////////////////////////////////////////////////////////*/

.sec7_header{
	margin-top: 0px;
	padding-top:80px;
	margin-left: 180px;
	text-align: center;	
	width: 1000px;
}

.sec7_header h1{
	font-size: 90px;
	margin-top:20px;
	color: white;
	
	font-family: "Gabriola";
}

.sec7_header h2{
	color: white;
	font-size: 25px;
	font-family: "Courier New";
	margin-top:10px;
}

.sec7_header h4{
	color: white;
	font-size: 17px;
	font-family: "Segoe UI Light";
	line-height: 150%;
	margin-top:30px;
}

.sec7_header i{
	margin-top: -60px;
	color: white;
	font-size:50px;
}

/*/////////////////////////////////////////////////////////////////SECTION 8/////////////////////////////////////////////////////////*/

.sec8_header{
	margin-top: 0px;
	padding-top:200px;
	margin-left: 270px;
	text-align: center;	
	width: 800px;
	background: transparent
}


.sec8_header img{
	width:800px;
	height:600px;
	position: absolute;
	margin-top:-50px;
	margin-left:-210px;
	object-fit: cover;
}
.sec8_header h2{
	color: #333;
	font-size: 20px;
	font-family: "Courier New";
	margin-top:0px;
	padding-left:-50px;
}
	

.sec8_header h1{
	font-size: 150px;
	margin-top:0px;
	margin-left: -150px;
	color: #91bfcf;
	font-family: "Gabriola";
	position: absolute;
	padding-top: 1000px;
}


.sec8_img2, .sec8_img3, .sec8_img4, .sec8_img5{
	background:transparent;
}

.sec8_img2 img{
	height:600px;
	width: 370px;
	position: absolute;
	margin-top:-50px;
	margin-left:80px;
	object-fit: cover;
}

.sec8_img3 img{
	height:330px;
	position: absolute;
	margin-top:560px;
	margin-left:930px;
	object-fit: cover;
}
.sec8_img4 img{
	height:330px;
	position: absolute;
	margin-top:560px;
	margin-left:590px;
	object-fit: cover;
}
.sec8_img5 img{
	height:330px;
	width: 500px;
	position: absolute;
	margin-top:540px;
	margin-left:80px;
	object-fit: cover;
}

.sec8_img5 h2{
	margin-left:120px;
	color: #333;
	padding-top:960px;
	font-family: 'Courier New', Courier, monospace;
}

.sec8_img5 p{
	margin-left:400px;
	padding-top: 120px;
	color: #333;
	font-size:20px;
	text-align: left;
	width: 900px;
	font-family: 'Courier New', Courier, monospace;
}

/*/////////////////////////////////////////////////////////////////SECTION 9/////////////////////////////////////////////////////////*/

.sec9_img img{
	height:330px;
	width: 720px;
	position: absolute;
	margin-top:40px;
	margin-left:80px;
	object-fit: cover;
}

.sec9_img2 img{
	height:90%;
	position: absolute;
	margin-top:40px;
	margin-left:810px;
	object-fit: cover;
}


.sec9_img3 img{
	height:223px;
	width:400px;
	position: absolute;
	margin-top:380px;
	margin-left:400px;
	object-fit: cover;
}

.sec9_img4 img{
	width:310px;
	height:500px;
	position: absolute;
	margin-top:380px;
	margin-left:80px;
	object-fit: cover;
}

.sec9_img5 img{
	width:470px;
	height:270px;
	position: absolute;
	margin-top:612px;
	margin-left:400px;
	object-fit: cover;
}

.sec9_img6 img{
	width:380px;
	height:270px;
	position: absolute;
	margin-top:612px;
	margin-left:880px;
	object-fit: cover;
}

/*/////////////////////////////////////////////////////////////////SECTION 10/////////////////////////////////////////////////////////*/
.sec10_header{
	background-color: #91bfcf;
	width: 600px;
	height:70px;
	margin-top:60px;
	position: absolute;
}

.sec10_header h1{
	color: white;
	position: absolute;
	font-family: 'Segoe UI Light';
	margin-left: 40px;
	margin-top: 10px;
}

.RX{
	position: absolute;
	margin-top: 300px;
	margin-left: 60px;
	text-align: center;
}

.RX h1, .Safety h1, .Oppress h1{
	font-weight: bold;
}
.RX i{
	color: #333;
	font-size:80px;
	margin-top: -100px;
	margin-left: 140px;
	position: absolute;
}



.Safety{
	position: absolute;
	margin-top: 300px;
	margin-left: 480px;
	text-align: center;
}

.Safety i{
	color: #333;
	font-size:80px;
	margin-top: -100px;
	margin-left: 160px;
	position: absolute;
}

.Oppress{
	position: absolute;
	margin-top: 300px;
	margin-left: 900px;
	text-align: center;
}

.Oppress i{
	color: #333;
	font-size:80px;
	margin-top: -100px;
	margin-left: 160px;
	position: absolute;
}


.RX h1, .Safety h1, .Oppress h1{
	font-family: 'Gabriola';
	font-size:40px ;
	border-bottom: 1px solid #333;
	width: 300px;	
	margin-left:50px;
}

.RX p, .Safety p, .Oppress p{
	font-family: 'Courier New';
	font-size:18px ;
	width: 300px;	
	padding-top:10px;
	margin-left:50px;
}


/*/////////////////////////////////////////////////////////////////SECTION 11/////////////////////////////////////////////////////////*/
.team img{
	width:240px;
	height:240px;
	object-fit: cover;
}

.team1{
	margin-top:-300px;
	margin-left:30px;
}

.team2{
	margin-top:-240px;
	margin-left:290px;
	
}

.team3{
	margin-top:-240px;
	margin-left:550px;
}

.team4{
	margin-top:-240px;
	margin-left:810px;
}

.team5{
	margin-top:-240px;
	margin-left:1070px;
}

.team6{
	margin-top: 20px;
	margin-left:30px;
}

.team7{
	margin-top:-240px;
	margin-left:290px;
	
}

.team8{
	margin-top:-240px;
	margin-left:550px;
}

.team9{
	margin-top: 20px;
	margin-left:30px;
}

.team10{
	margin-top:-240px;
	margin-left:290px;
	
}

.team11{
	margin-top:-240px;
	margin-left:550px;
}

.team12{
	margin-top: 20px;
	margin-left:30px;
}

.team13{
	margin-top:-240px;
	margin-left:290px;
	
}

.team14{
	margin-top:-240px;
	margin-left:550px;
}

.sec3_info{
	width: 600px;
    height: 930px;
    background-color: #333;
	color:white;
	margin-top:-830px;
	margin-left: 710px;
	position:absolute;
	padding-left:40px;
	padding-right:40px;
	padding-top:20px;
}

.sec3_info h1{
	font-size:60px;
	font-family: 'Gabriola'
}

.sec3_info p{
	font-size:17px;
	font-family: 'Courier New', Courier, monospace;
	margin-top:50px;
}

.btn_sec3{
	background-color: transparent;
	border: 2px solid #91bfcf;
	color: #91bfcf;
	text-align: center;
	font-size: 20px;
	padding: 15px;
	width: 300px;
	transition: all 0.5s;
	cursor: pointer;
	margin-top: 30px;
	margin-left: 0px;
	z-index:2;
	position:absolute;
}

.btn_sec3:hover{
	background-color: #91bfcf;
	border: 2px solid #91bfcf;
	color: white;
	cursor: pointer;
	transition:0.1s;
}

.mes {
	margin-top:400px;
	margin-left: 230px;
	width:1000px;
	position: absolute;
}

.mes h1{
	font-size:50px;
	color: #333;
	font-family: 'Gabriola';
}

/*---------------------------------------------------------SECTION 12------------------------------------------*/

/*********************PIC SLIDER ****************SEC 1*/
.car_2, .slide1, .carousel-inner .active{
	height:100%;
	background-attachment: fixed;
	}
	.inner1 {
	height:100%;
	
	}
	.car_2 {
	margin-bottom: 60px;
	}
	.carousel-item {
	  display: block;
	  position: absolute;
	  opacity: 0;
	  transition: opacity .75s ease-in-out;
	}
	.carousell-item.active {
	  opacity: 1;	
	}
	.car_2 .slide1 {
	background-color: #777;
	}
	.car_2 .carousel-inner .bg {
	background-repeat:no-repeat;
	background-size:cover;
	}
	.car_2 .carousel-inner .bg1 {
		
	background-image: linear-gradient(transparent, transparent,  rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url(../img/sbg2.jpg);
	background-position: center top;
	filter:brightness(100%);
	}
	
	.car_2 .carousel-inner .bg2 {
	background-image: linear-gradient(transparent, transparent,  rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),url(../img/friends\ 1.JPG);
	background-position: center center;
	filter:brightness(100%);
	}
	.car_2 .carousel-inner .bg3 {
	background-image: linear-gradient(transparent, transparent,  rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),url(../img/friends2.JPG);
	background-position: center bottom;
	filter:brightness(100%);
	}
	
	.car_2 .carousel-inner .bg4 {
	background-image: linear-gradient(transparent, transparent,  rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),url(../img/friends3.jpg);
	background-position: center bottom;
	filter:brightness(100%);
	}

	.car_2 .carousel-inner .bg5 {
		background-image: linear-gradient(transparent, transparent,  rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),url(../img/sbg1.jpg);
		background-position: center bottom;
		filter:brightness(100%);
		}
	
	.car_2 .carousel-inner .bg6 {
		background-image: linear-gradient(transparent, transparent,  rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),url(../img/friends4.jpg);
		background-position: center bottom;
		filter:brightness(100%);
	}

	.car_2 .carousel-inner .bg7 {
		background-image: linear-gradient(transparent, transparent,  rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),url(../img/friends5.jpg);
		background-position: center bottom;
		filter:brightness(100%);

	}.car_2 .carousel-inner .bg8 {
		background-image: linear-gradient(transparent, transparent,  rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),url(https://imgur.com/JKPS3wj.jpg);
		background-position: center bottom;
		filter:brightness(100%);

	}.car_2 .carousel-inner .bg9 {
		background-image: linear-gradient(transparent, transparent,  rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),url(../img/sbg3.jpg);
		background-position: center bottom;
		filter:brightness(100%);

	}.car_2 .carousel-inner .bg10 {
		background-image: linear-gradient(transparent, transparent,  rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),url(../img/friends7.jpg);
		background-position: center bottom;
		filter:brightness(100%);
	}

.car_2 .carousel-inner .bg11 {
	background-image: linear-gradient(transparent, transparent,  rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),url(../img/friends9.jpg);
	background-position: center bottom;
	filter:brightness(100%);

}.car_2 .carousel-inner .bg12 {
	background-image: linear-gradient(transparent, transparent,  rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),url(../img/friends6.jpg);
	background-position: center bottom;
	filter:brightness(100%);
}

/*---------------------------------------------------------SECTION 13------------------------------------------*/
.sec13_pic img{
	height:600px;
	width:900px;
	float:right;
	object-fit: cover;
}

.sec13_info{
	position: absolute;
	
	height:600px;
	background: transparent;
	margin-top:100px;
	color: #333;
	margin-left:40px;
}
.sec13_info h1{
	font-size: 120px;
	font-family: 'Gabriola';
}

.sec13_info h3{
	font-size: 30px;
	margin-top:-30px;
	font-family: 'Segoe UI Light';
}

.sec13_info p{
	margin-top:50px;
	font-size:20px;
	width:900px;
	font-family: 'Courier New', Courier, monospace;
}

.sec13_info h2{
	width:1300px;
	margin-top:-10px;
	padding-right: 40px;
	font-size:20px;
	color:#333;
	line-height: 150%;
	font-family: 'Courier New', Courier, monospace;
}


/*---------------------------------------------------------SECTION 14------------------------------------------*/
.follow{
	margin-top:250px;
	
	text-align: center;
	width:100%;
	font-family: 'Gabriola';
}

.follow h1{
	font-size:60px;
}

.icons {
	width: 100%;
	text-align: center;
	font-size:150px;
}

.icons a{
	color: #333;
}

.icons #fb:hover{
	color: #3b5998;
}
.icons #ttr:hover{
	color: #00ACEE;
}
.icons #ig:hover{
	color: #cc2366; 
}

.icons a:visited{
 color:#333;
 opacity: 0.2;
}



.icons a i{
	margin-right:50px;
}

.footer{
	font-family: 'Courier New', Courier, monospace;
	font-size:16px;
	width: 100%;
	height:90px;
	text-align: center;
}

