section{
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	}


section.sec2{
	height:600px;
}

section.sec_desktop,
section.sec_laptops,
section.sec_mobiles,
section.sec_dslr,
section.sec_headphones,
section.sec_controllers{
	height:1200px;
}

