html, body {
height:100%;
margin:0;
padding:0;
background-color: #f0f0f0;
}



/***************************************************************************SEC 1*********************************************************************/

/****************NAME*******/
.name{
	text-align:center;
	color:white;
	top:200px;
	margin-left:450px;
	position:absolute;
}

.name h1{
	font-size:100px;
	margin-top:10px;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
}

.name h4{
	font-size:20px;
}


.name a {
	position: absolute;
	margin-top:210px;
	cursor:pointer;
	z-index: 2;
	margin-left:-100px;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: #fff;
	font : normal 400 20px/1 'Josefin Sans', sans-serif;
	letter-spacing: .1em;
	text-decoration: none;
	transition: opacity .3s;
}
.name a:hover {
  opacity: .5;
}

#name a {
  padding-top: 60px;
}
#name a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #198506;
  border-radius: 50px;
  box-sizing: border-box;
}
#name a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #198506;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/*********************PIC SLIDER ****************SEC 1*/
.car_1, .slide1, .carousel-inner .active{
height:100%;
}
.inner1 {
height:100%;

}
.car_1 {
margin-bottom: 60px;
}
.carousel-item {
  display: block;
  position: absolute;
  opacity: 0;
  transition: opacity .75s ease-in-out;
}
.carousel-item.active {
  opacity: 1;
}
.car_1 .slide1 {
background-color: #777;
}
.car_1 .carousel-inner .bg {
background-repeat:no-repeat;
background-size:cover;
}
.car_1 .carousel-inner .bg1 {
	
background-image: linear-gradient(transparent, transparent,  rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url(../img/BG1.jfif);
background-position: center top;
filter:brightness(60%);
}

.car_1 .carousel-inner .bg2 {
background-image: linear-gradient(transparent, transparent,  rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),url(../img/BG1.jpg);
background-position: center center;
filter:brightness(100%);
}
.car_1 .carousel-inner .bg3 {
background-image: linear-gradient(transparent, transparent,  rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),url(../img/bg2.jpg);
background-position: center bottom;
filter:brightness(90%);
}

.car_1 .carousel-inner .bg4 {
background-image: linear-gradient(transparent, transparent,  rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),url(../img/Stars.jpg);
background-position: center bottom;
filter:brightness(90%);

}
/***************************************************************************SEC 2*********************************************************************/
/*STICKY LIST*/

#sticky.stick {
  position: fixed;
  top: 0.5px;
  z-index: 9000;
  
  
}
/*PRODUCTS LISTS*/
.product_list{
	margin-top:110px;
	margin-left:40px;
	background-color:white;
	height:460px;
	width:250px;
	border: 2px solid #FFFFFF;
	box-shadow: 5px 10px 8px rgba(0,0,0, 0.3);
	padding:15px;
	float:left;
	position:relative;
}

.prod_list_header{
	background-color:#198506;
	width:250px;
	height:70px;
	padding:5px;
	color:white;
	margin: -17px 0 0 -17px;
}

.cat_icon{
	color:#198506;
	font-size:20px;
}

.list_products{
	width:250px;
	max-height:400px;
	margin: 0 0 0 -17px;
	overflow:scroll;
	overflow-x:hidden;
	overflow:hidden;
	
}

.list_products a{
	color: black;
	height:50px;
	cursor:pointer;
}

.list_products a:hover{
	background: #37BB1F;
	border-left: 8px solid #198506;
	color:white;
}

.list_products a:hover .cat_icon{
	color:black;
}


.list_products a.active{
	background: #37BB1F;
	border-left: 8px solid #198506;
	color:white;
	border-top:0px;
	border-right:0px;
	border-bottom:0px;
}

.list_products a.active:hover{
	background: #37BB1F;
	border-left: 8px solid #198506;
	border-top:0px;
	border-right:0px;
	border-bottom:0px;
	color:white;
}


.list_products a.active .cat_icon{
	color:black;
}
/*PIC SLIDER FOR ITEMS*/
.car_2{
	position:absolute;
	margin-left:330px;
	margin-top:150px;
	box-shadow:  3px 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.car_2, .slide2, .active2 {
height:400px;
width:1000px;
}
.inner2 {
height:400px;
width:1000px;
}
.car_2 {
margin-bottom: 60px;
}
.carousel-caption {
z-index: 10;
}
.car_2 .slide2 {
background-color: #777;
}
.car_2 .carousel-inner .bg {
background-repeat:no-repeat;
background-size:cover;
}
.car_2 .carousel-inner .bg4 {
background-color:white;
background-position: center top;
}
.car_2 .carousel-inner .bg5 {
background-color:white;
background-position: center center;
}
.car_2 .carousel-inner .bg6 {
background-color:white;
background-position: center bottom;
}


/***********SLIDE 1*******/
.cap1{
	color:black;
	width:300px;
	text-align:left;
	margin-left:360px;
	margin-top:-300px;
	position:relative;
}


.slide_img1{
	height:300px;
	width:425px;
	padding:50px;
	margin-left:80px;
	margin-top:50px;
	background: url(../img/44.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.btn_slide1{
	background-color: transparent;
	border: 2px solid #198506;
	color: #198506;
	text-align: center;
	font-size: 20px;
	padding: 15px;
	width: 300px;
	transition: all 0.5s;
	cursor: pointer;
	margin-top: 20px;
	margin-left: 0px;
	z-index:2;
	position:absolute;
}

.btn_slide1:hover{
	background-color: #198506;
	border: 2px solid #198506;
	color: white;
	cursor: pointer;
	transition:0.1s;
}

/***********SLIDE 2*******/
.cap2{
	color:black;
	width:300px;
	text-align:left;
	margin-left:360px;
	margin-top:-400px;
	position:relative;
}


.slide_img2{
	height:400px;
	width:425px;
	padding:50px;
	margin-left:60px;
	margin-top:50px;
	background: url(../img/45.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.btn_slide2{
	background-color: transparent;
	border: 2px solid #198506;
	color: #198506;
	text-align: center;
	font-size: 20px;
	padding: 15px;
	width: 300px;
	transition: all 0.5s;
	cursor: pointer;
	margin-top: 50px;
	margin-left: 0px;
	z-index:2;
	position:absolute;
}

.btn_slide2:hover{
	background-color: #198506;
	border: 2px solid #198506;
	color: white;
	cursor: pointer;
	transition:0.1s;
}
/***********SLIDE 3*******/
.cap3{
	color:black;
	width:400px;
	text-align:left;
	margin-left:320px;
	margin-top:-300px;
	position:relative;
}


.slide_img3{
	height:300px;
	width:425px;
	padding:50px;
	margin-left:60px;
	margin-top:50px;
	background: url(../img/46.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.btn_slide3{
	background-color: transparent;
	border: 2px solid #198506;
	color: #198506;
	text-align: center;
	font-size: 20px;
	padding: 15px;
	width: 300px;
	transition: all 0.5s;
	cursor: pointer;
	margin-top: 20px;
	margin-left: 0px;
	z-index:2;
	position:absolute;
}

.btn_slide3:hover{
	background-color: #198506;
	border: 2px solid #198506;
	color: white;
	cursor: pointer;
	transition:0.1s;
}

/*BACK TO TOP BTN*/
#button_top {
  display: inline-block;
  background-color: #198506;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  text-decoration: none;
  bottom: 20px;
  right: 20px;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button_top::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button_top:hover {
  cursor: pointer;
  background-color: #37BB1F;

}
#button_top:active {
  background-color: #555;
}
#button_top.show {
  opacity: 1;
  visibility: visible;
}

/*-------------------------------------------------------------------SECTION 3 (DESKTOP)----------------------------------------------------------------*/

.ad1{
	margin-left:100px;
	margin-top:100px;
	position:absolute;
}


.ad2{
	margin-left:500px;
	margin-top:100px;
	position:absolute;
}


.ad3{
	margin-left:100px;
	margin-top:100px;
	position:absolute;
}

.ad4{
	margin-left:570px;
	margin-top:125px;
	position:absolute;
}

.ad5{
	margin-left:370px;
	margin-top:10px;
	position:absolute;
}

.ad6{
	margin-left:100px;
	margin-top:100px;
	position:absolute;
}

.ad7{
	margin-left:720px;
	margin-top:90px;
	position:absolute;
}





/*//////////////////////////////////////////////////////////////CHECK OUT FORM////////////////////////////////////*/
.row_CHECK {
	padding-left:300px;
	padding-right:300px;
	position:relative;
	padding-bottom:100px;
	display:none;
	
}
.col-50 h3{
	color: #198506;
	height:40px;
	font-size:30px;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
 
}

.col-50,
.col-75 {
  padding: 0 16px;
}

.container_CHECK {
  background-color: white;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
   border-top:10px solid #198506
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn_CHECK {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
 
}

.btn_CHECK:hover {
  background-color: #45a049;
}


.btn-purchase {
    display: block;
    margin: 40px auto 0px auto;
    font-size: 1.75em;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}


.link_pic_fb{
	width: 270px;
    height: 400px;
	position:absolute;
	margin-left:-100px;
}

.link_pic_fb img{
	width: 270px;
    height: 400px;
	object-fit: cover;
}

.overlay-fb{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(59, 89, 152, 0.7);
	transition: .5s ease;
}

.link_pic_fb:hover .overlay-fb {
  opacity: 0;
}

.link_pic_fb:hover .text1{
	top:30px;
	left:40px;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	z-index:9990;
}

.name1{
	color:white;
	opacity: 0;
	position: absolute;
	position: absolute;
	top: 20px;
	left:-10px;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	text-align: right;
	width: 200px;
	background-color: rgba(59, 89, 152);
	padding-right:10px;
}

.link_pic_fb:hover .name1{
	left: 30px;
	opacity: 1;
	transition: .5s ease;
}
/*********/

.link_pic_yt{
	width: 270px;
    height: 400px;
	position:absolute;
	margin-left:170px;
}

.link_pic_yt img{
	width: 270px;
    height: 400px;
	object-fit: cover;
}

.overlay-yt{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(229, 45, 39, 0.7);
	transition: .5s ease;
}

.link_pic_yt:hover .overlay-yt {
  opacity: 0;
}

.link_pic_yt:hover .text2{
	top:30px;
	left:40px;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	z-index:9990;
}

.name2{
	color:white;
	opacity: 0;
	position: absolute;
	position: absolute;
	top: 20px;
	left:-10px;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	text-align: right;
	width: 200px;
	background-color: rgba(229, 45, 39);
	padding-right:10px;
}

.link_pic_yt:hover .name2{
	left: 30px;
	opacity: 1;
	transition: .5s ease;
}
/*********/


.link_pic_twtr{
	width: 270px;
    height: 400px;
	position:absolute;
	margin-left:440px;
}
.link_pic_twtr img{
	width: 270px;
    height: 400px;
	object-fit: cover;
}

.overlay-twtr{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(64, 153, 255, 0.7);
	transition: .5s ease;
}

.link_pic_twtr:hover .overlay-twtr {
  opacity: 0;
}

.link_pic_twtr:hover .text3{
	top:30px;
	left:40px;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	z-index:9990;
}

.name3{
	color:white;
	opacity: 0;
	position: absolute;
	position: absolute;
	top: 20px;
	left:-10px;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	text-align: right;
	width: 200px;
	background-color: rgba(64, 153, 255);
	padding-right:10px;
}

.link_pic_twtr:hover .name3{
	left: 30px;
	opacity: 1;
	transition: .5s ease;
}
/*********/

.link_pic_ig{
	width: 270px;
    height: 400px;
	position:absolute;
	margin-left:710px;
}

.link_pic_ig img{
	width: 270px;
    height: 400px;
	object-fit: cover;
}

.overlay-ig{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(#405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D,  #F56040, #F77737, #FCAF45, #FFDC80);
	opacity:0.7;
	transition: .5s ease;
}

.link_pic_ig:hover .overlay-ig {
  opacity: 0;
}

.link_pic_ig:hover .text4{
	top:30px;
	left:40px;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	z-index:9990;
}

.name4{
	color:white;
	opacity: 0;
	position: absolute;
	position: absolute;
	top: 20px;
	left:-10px;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	text-align: right;
	width: 200px;
	background-color: #833AB4;
	padding-right:10px;
}

.link_pic_ig:hover .name4{
	left: 30px;
	opacity: 1;
	transition: .5s ease;
}
/*********/

.link_pic_vine{
	width: 270px;
    height: 400px;
	position:absolute;
	margin-left:980px;
}

.link_pic_vine img{
	width: 270px;
    height: 400px;
	object-fit: cover;
}

.overlay-vine{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 164, 120, 0.7);
	transition: .5s ease;
}

.link_pic_vine:hover .overlay-vine {
  opacity: 0;
}

.link_pic_vine:hover .text5{
	top:30px;
	left:40px;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	z-index:9990;
}

.name5{
	color:white;
	opacity: 0;
	position: absolute;
	position: absolute;
	top: 20px;
	left:-10px;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	text-align: right;
	width: 200px;
	background-color: rgba(0, 164, 120);
	padding-right:10px;
}

.link_pic_vine:hover .name5{
	left: 30px;
	opacity: 1;
	transition: .5s ease;
}
/*********/

.text1,
.text2,
.text3,
.text4,
.text5{
  position: absolute;
  top: 50%;
  left: 50%;
 
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 300ms;
	-moz-transition: 300ms;
  text-align: center;
	
}

.text1 img,
.text2 img,
.text3 img,
.text4 img,
.text5 img{
	height:50px;
	width:50px;
}

/*///////////////////////////////////////////////////////////////////////////FOOTER///////////////////////////////////////////////////////////////////*/

/*FOOTER START///////////////////*/
#footer{
	 position:absolute;
	 margin-left:-100px;
	 margin-top: 400px;
}


.footer {
    padding: 50px 0 20px 0;
    background-color: #0E0F11;
    color: #878c94;
	height:500px;
	
}
.footer .title{
	text-align: left;
	color:#198506;
	font-size:25px;
}
.footer .social-icon{
	padding:0px;
	margin:0px;
}
.footer .social-icon a{
	display:inline-block;
	color:#fff;
	font-size:25px;
	padding:5px;
}
.footer .acount-icon a{
	display:block;
	color:#fff;
	font-size:18px;
	padding:5px;
	text-decoration:none;
}
.footer .acount-icon .fa{
	margin-right:25px;
}
.footer .category a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 20px;
    margin: 1px;
    border-radius:4px;
    margin-top: 6px;
    background-color: black;
    border: solid 1px #fff;
}
.footer .payment{
	margin:0px;
	padding:0px;
	list-style-type:none
}
.footer .payment li{
	list-style-type:none
}
.footer .payment li a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    float: left;
    font-size: 25px;
    padding: 10px 10px;
}

.container_footer{
	padding: 0 100px 0 100px;
	bottom:0px;
	height: 2.5rem;
}


/**********************/


.container_sm{
  color: #fff;
  width: 100%;
  margin-left:365px;
  margin-top:50px;
  height:100px;
}

.twitter {
    color: #4099FF;
}

.facebook {
    color: #3B5998;
}

.youtube {
    color: #e52d27;
}

.rss {
    color: #FF6600;
}

.vine {
    color: #00a478;
}

.flickr {
    color: #ff0084;
}

.twitch {
    color: #6441A5;
}

.linkedin {
    color: #007bb6;
}

.fa {
    opacity: 0.5;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

.fa:hover{
    opacity: 1;
    transition: 0.5s;
    -webkit-transition: 0.5s;
	filter: brightness(110%);
}


